<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Default Statcounter code for LukeSpeers.com Personal
    https://lukespeers.com/ -->
    <script type="text/javascript">
      var sc_project=12816752; 
      var sc_invisible=0; 
      var sc_security="270beda9"; 
      var scJsHost = "https://";
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
      </script>
      <noscript><div class="statcounter"><a title="Web Analytics
      Made Easy - Statcounter" href="https://statcounter.com/"
      target="_blank"><img class="statcounter"
      src="https://c.statcounter.com/12816752/0/270beda9/0/"
      alt="Web Analytics Made Easy - Statcounter"
      referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
      <!-- End of Statcounter Code -->
  </body>
</html>
