---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <header class="post-header">
    <h1> Capturing your world from a unique perspective! </h1>
  </header>

  <div class="post-content">
    <p>Dubh Glas Whisky - Oliver, British Coloumbia</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/IoOKhJEQR0M"></iframe>
    </div>
  </div>

  <div class="post-content">
    <p>Train Run Fun - Milton Ontario</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/nnvkEnuenwo?t=20"></iframe>
    </div>
  </div>

  <div class="post-content">
    <p>Wedding Venue</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/GMQFPqgcfXA"></iframe>
    </div>
  </div>

  <div class="post-content">
    <p>Over water!</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/nZDgI7tx1PY?&autoplay=1"></iframe>
    </div>
  </div>

  <div class="post-content">
    <p>At the dirtbike track!</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/ARfl74T5NMI?"></iframe>
    </div>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/kABNoynC-xs?"></iframe>
    </div>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/kVsUEmQgebU?"></iframe>
    </div>
  </div>
  
  <div class="post-content">
    <p>At the farm!</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/lK5d0Q_-4e4?"></iframe>
    </div>
  </div>
  
  <div class="post-content">
    <p>Remote adventures!</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/36ID4Ur03dM?"></iframe>
    </div>
  </div>
  
  
  <div class="post-content">
    <p>Vancouver Island!</p>
  </div>

  <div class="auto-resizable-iframe">
    <div>
      <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/F55C9py4350?&"></iframe>
    </div>
  </div>

  <div class="post-content">
    <p>Lakeridge Ski Resort!</p>
  </div>

  <div class="video-container">
    <video controls>
      <source src="https://onedrive.live.com/download?cid=D4B4394D16FC0608&resid=D4B4394D16FC0608%21155169&authkey=APcPDQ7qRc5HTH8" type='video/mp4'/>
    </video>
  </div>



  <div class="post-content">
    <p>Want a video like this for your next project? Contact me today! </br>~Luke </p>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    
  {%- endif -%}

</div>
